# Secrets
.env

# Robot Framework results
results/
output.xml
log.html
report.html

# Ansible
*.retry
ansible/.vagrant/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user
