.vs/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.userosscache
*.sln.docstates
Thumbs.db
ehthumbs.db
Desktop.ini

.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

*.retry
.env
*.pem
*.key
ansible/inventory/secrets.yml

*.log
*.tmp
