[Unit]
Description=Prometheus Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
After=network-online.target
Wants=network-online.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/node_exporter \
    --web.listen-address=:{{ node_exporter_port }}

[Install]
WantedBy=multi-user.target
